/* Orderdetails.css */

.orderdetails {
    overflow-y: auto;
}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow-y: auto;
    width: 90%;

}

.order-item {
    position: relative;
    overflow-y: auto;
    /* Add this to make the menu item a reference point for absolute positioning */
    display: block;
    /* Display as block element */
    margin-bottom: 10px;
    /* Adjust margin as needed */
    color: #333;
    font-weight: bold;
}

.order-link {
    background-color: rgb(96, 162, 224);
    width: 90%;
    padding: 10px;
    /* Add padding for better appearance */
    cursor: pointer;
    /* Change cursor to pointer to indicate it's clickable */
}



/* Orderdetails.css */

/* Table styles */
.order-table-container1,
.order-table-container2,
.order-table-container3,
.order-table-container4 {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table-container1 th,
.order-table-container2 th,
.order-table-container3 th,
.order-table-container4 th,
.order-table-container1 td,
.order-table-container2 td,
.order-table-container3 td,
.order-table-container4 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #333;
}

.order-table-container1 th,
.order-table-container2 th,
.order-table-container3 th,
.order-table-container4 th {
    background-color: #f2f2f2;
    color: #333;
}

.order-table-container1 tr:nth-child(even),
.order-table-container2 tr:nth-child(even),
.order-table-container3 tr:nth-child(even),
.order-table-container4 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.order-table-container1 tr:hover,
.order-table-container2 tr:hover,
.order-table-container3 tr:hover,
.order-table-container4 tr:hover {
    background-color: #ddd;
}

.order-button {
    background-color: green;

}

.feedback-container{
    margin-top: 10px;

    
}