.home-container {
    width: 100%;
    border-collapse: collapse;
}

.home-container th{
    border: 1px solid #b9ceeddd;
        padding: 10px;
        text-align: center;
}
.home-container td {
    border: 1px solid #96c0e9dd;
        padding: 10px;
        text-align: center;
}

.home-container th {
    background-color: #729edf;
}

.remove-button{
    background-color: red;
    border-color: aliceblue;
    height: 30px;
    
}
.add-button{
    background-color: blue;
    border-color: aliceblue;
    height: 30px;
}